*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 130px;
    height: 130px;
}

.carrossel h1{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.carrossel h2{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.carrossel button {
    background-color: fuchsia;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    border-style: none;
    box-shadow: 2px 2px 15px black;
    transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}

.carrossel button:hover {
   background-color: darkmagenta;
   width: 150px;
}
