<div class="header">
    <h1>Cardápio</h1>
    <img src="~/images/fundo-donuts.webp" alt="Fundo Donuts" />
</div>

<div class="produtos">
    <h1>Nossos produtos</h1>
    <h2>Confira nossa variedade de sabores!</h2>

    <div class="cards">
        <div id="card">
            <img src="/images/ring-donuts-chocolate-preto-e-branco.webp" alt="Donuts chocolate preto e branco" />
            <h2>Donut Duplo Chocolate</h2>
            <p>
                Nossa clássica rosquinha, 
                banhada em uma cobertura de chocolate meio amargo e 
                salpicada com confeitos de chocolate ao leite e chocolate 
                branco. 
            </p>
        </div>
        <div id="card">
            <img src="/images/ringdeblueberry.jpg" alt="Donuts de blueberry" />
            <h2>Donut de Blueberry</h2>
            <p>
                Uma explosão de cor e sabor! Nossa massa fofinha com uma 
                vibrante cobertura de blueberry, finalizada com confeitos 
                crocantes. Perfeito para colorir o seu dia!
            </p>
        </div>
        <div id="card">
            <img src="/images/ringhomer.jpg" alt="Donuts do homer" />
            <h2>O Famoso Donut Rosa</h2>
            <p>
                Impossível não reconhecer! Inspirado no donut mais famoso da 
                TV, nossa versão tem massa fresca, cobertura de morango rosa adocicada 
                e confeitos coloridos para alegrar seu dia.
            </p>
        </div>
        <div id="card">
            <img src="/images/donuts_pink_lemonade.jfif" alt="Donuts de Pink Lemonade" />
            <h2>Donut Pink Lemonade</h2>
            <p>
                O sabor do verão em um donut! Nossa massa leve com uma 
                cobertura cítrica de limonada, salpicada com cristais de 
                açúcar coloridos. Refrescante e surpreendente!
            </p>
        </div>
    </div>
</div>

<footer>
    <div id="esquerda">
        <img src="/images/Family-redimensionado-para-100x100.jpeg" alt="Logo" />
        <button>Facebook</button>
        <button>Instagram</button>
        <button>Whatsapp</button>
    </div>

    <div id="meio">
        <h1>Fale conosco</h1>
        <p>vendasfamilydonuts@gmail.com</p>
        <h1>Pedidos/Encomendas/Delivery</h1>
        <p>11 95645-5674</p>
    </div>

    <div id="direita">
        <h1>Funcionamento da Fábrica</h1>
        <p>Segunda a Quinta das 07:00 às 17:00</p>
        <p>Sexta-feira das 07:00 às 16:00</p>
        <h1>Doces do Tio Caio</h1>
        <p>Novo fabricante oficial da marca <br />FamilyDonuts</p>
    </div>

    <div id="baixo">
        <p>&copy; Family Donuts | Todos os direitos reservados | Desenvolvido por Gustavo Oliveira e Guilherme Freitas</p>
    </div>

</footer>