<header id="cabecalho-contato">
    <h1>Contato</h1>
    <img src="/images/fundo3-contato.jpg" alt="Fundo Contato" />
</header>

<div id="unidade">
    <h1>Nossa unidade</h1>
    <a href="https://maps.app.goo.gl/5Dss6rgS4PmcPLRw6" target="_blank">Ver no mapa</a>
    <p>11 95645-5674</p>
    <p>19 99237-7334 – Revenda/p>
    <p>vendasfamilydonuts@gmail.com</p>
</div>

<div id="siga-nos">
    <h1>Siga-nos nas redes sociais</h1>
    <button>Facebook</button>
    <button>Instagram</button>
</div>

<form>
    <fieldset id="faleconosco">
        <h1>Fale Conosco</h1>
        <h2>Deixe uma mensagem que responderemos o mais breve possível</h2>

        <input type="text" id="nome" placeholder="Nome:" maxlength="50" />
        <input type="email" id="email" placeholder="E-mail:" maxlength="45"/>
        <input type="tel" id="telefone" placeholder="Telefone:" />
        <input type="text" id="assunto" placeholder="Assunto:" maxlength="60"/>
        <input type="text" id="mensagem" placeholder="Mensagem" maxlength="250" />

        <input type="submit" id="enviar" placeholder="Enviar"/>
    </fieldset>
</form>

<footer>
    <div id="esquerda">
        <img src="/images/Family-redimensionado-para-100x100.jpeg" alt="Logo" />
        <button>Facebook</button>
        <button>Instagram</button>
        <button>Whatsapp</button>
    </div>

    <div id="meio">
        <h1>Fale conosco</h1>
        <p>vendasfamilydonuts@gmail.com</p>
        <h1>Pedidos/Encomendas/Delivery</h1>
        <p>11 95645-5674</p>
    </div>

    <div id="direita">
        <h1>Funcionamento da Fábrica</h1>
        <p>Segunda a Quinta das 07:00 às 17:00</p>
        <p>Sexta-feira das 07:00 às 16:00</p>
        <h1>Doces do Tio Caio</h1>
        <p>Novo fabricante oficial da marca <br />FamilyDonuts</p>
    </div>

    <div id="baixo">
        <p>&copy; Family Donuts | Todos os direitos reservados | Desenvolvido por Gustavo Oliveira e Guilherme Freitas</p>
    </div>
</footer>