
<div class="carrosel">
    <h1>Donuts</h1>
    <h2>de todas as cores e sabores</h2>
    <button>Veja todas as nossas delícias</button>
</div><br />

<div class="previas">
    <h1>Produtos</h1>
    <p>Veja algumas prévias de nossos produtos.</p>
    <div id="donuts_previas">
        <img src="/images/ringdeblueberry.jpg" alt="Ring de Blueberry" />
        <img src="/images/ringhomer.jpg" alt="Ring Homer" />
        <img src="/images/ring-donuts-chocolate-preto-e-branco.webp" alt="Ring Chocolate Preto e Branco" />
        <img src="/images/donuts_pink_lemonade.jfif" alt="Ring Pink Lemonade" />
    </div>
</div>

<div class="contato">
    <h1>Contato</h1>
    <p>Caso queira nos contatar, tenha alguma dúvida ou queira saber mais sobre nós, clique para contato.</p>
    <button>Fale Conosco</button>
</div>