
<div class="carrosel">
    <h1>Donuts</h1>
    <h2>de todas as cores e sabores</h2>
    <button>Veja todas as nossas delícias</button>
</div><br />

<div class="previas">
    <h1>Prévias</h1>
    <p>Veja algumas prévias de nossos produtos.</p>
    <div id="donuts_previas">
        <img src="/images/ringdeblueberry.jpg" alt="Ring de Blueberry" />
        <img src="/images/ringhomer.jpg" alt="Ring Homer" />
        <img src="/images/ring-donuts-chocolate-preto-e-branco.webp" alt="Ring Chocolate Preto e Branco" />
        <img src="/images/donuts_pink_lemonade.jfif" alt="Ring Pink Lemonade" />
    </div>
</div><br />

<div class="contato">
    <h1>Contato</h1>
    <p>Caso queira nos contatar, tenha alguma dúvida ou queira saber mais sobre nós, clique para contato.</p>
    <button>Fale Conosco</button>
</div><br />

<div class="quem-somos">
    <h1>Nós amamos donuts,</h1>
    <h1>SIMPLESMENTE!</h1>
    <p>O Rei dos Donuts é especializada nesses deliciosos doces americanos, 
        “os donuts”, por isso vem conquistando o paladar de jovens, adultos 
        e crianças. Agora totalmente REPAGINADA, o Rei dos Donuts está com 
        sua Padaria de Fábrica que vem encantando a todos que experimentam.</p>
</div>

<footer>
    <img src="/images/Family-redimensionado-para-100x100.jpeg" alt="Logo" />
    <button>Facebook</button>
    <button>Instagram</button>
    <button>Whatsapp</button>
</footer>