<header id="cabecalho-quemsomos">
<h1>Quem Somos</h1>
<img src="/images/donut-fundo2.jpg" alt="Fundo Donut" />
</header><br />

<div class="historia"> 
    <div id="vídeo-historia">
        <video src="/videos/Bakery_Promotional_Video_Script.mp4"></video>
    </div>

    <div id="nossa-historia">
        <h1>Nossa História</h1>
        <h2>Para nós, Donuts são sinônimo de família.</h2>
        <p>
            Uma história que começou na cozinha de casa e hoje cria doces
            memórias para outras famílias. A Family Donuts nasceu da paixão por
            compartilhar momentos especiais ao redor de uma receita que passa de
            geração em geração. Somos especialistas em transformar ingredientes
            simples nos donuts mais fofinhos e saborosos, conquistando o coração
            de crianças, pais e avós.
            Com o carinho e a confiança dos nossos clientes, nosso sonho cresceu. Hoje, a Family Donuts se tornou um verdadeiro refúgio de delícias caseiras. Expandimos nossa cozinha e nosso cardápio: além dos nossos famosos donuts, agora criamos bolos de aniversário, tortas com sabor de infância, cookies, brownies e uma variedade de doces feitos para celebrar.
            E pensando em cuidar de toda a família, criamos a nossa linha
            Equilíbrio, com opções deliciosas, funcionais e com menos açúcar,
            para que todos possam desfrutar de um doce momento sem preocupações.
            Gratos por cada sorriso, nossa cozinha está pronta para levar mais
            sabor para sua casa, sua festa ou seu negócio. Estamos preparados
            para atender grandes encomendas e firmar parcerias com quem deseja
            encantar seus próprios clientes com a qualidade e o afeto que só uma
            receita de família pode oferecer.
        </p>
    </div>
</div><br />

<div class="revendedor">
    <img src="/images/revendedor-donuts.jpg" alt="Revendedor" />
    <h1>Seja um revendedor</h1>
    <h2>Sim, é possível que todos se apixonem também por estas delícias.</h2>
    <p>Não poderia deixar de faltar a oportunidade de você ser um revendedor
        Family Donuts em seu bairro, cidade e/ou região. A Family Donuts
        vem conquistando todas as idades e cada vez com um cardápio mais 
        sortido e saborosos, cheio de novidades incríveis. <br />
        11 95645-5674
    </p>
</div>

    <div class="mvv">
        <div id="missao">
            <img src="/images/Missão.png" alt="Imagem ilustração missão" />
            <h1>Missão</h1>
            <p>Criar momentos de alegria e união através de doces que aquecem 
            o coração. Nossa missão é oferecer produtos artesanais que 
            carregam o sabor e o afeto de uma receita de família, 
            adoçando tanto o dia a dia das pessoas quanto suas 
            celebrações mais especiais.</p>
        </div>
        <div id="visao">
            <img src="/images/Visão.png" alt="Imagem ilustração Visão" />
            <h1>Visão</h1>
            <p>Ser a confeitaria preferida das famílias, reconhecida como um 
            lugar que transforma receitas tradicionais em experiências de 
            carinho e sabor. Almejamos crescer e levar nossos doces para 
            cada vez mais lares e eventos, mantendo sempre a qualidade, o 
            frescor e o cuidado em cada detalhe, como se tudo fosse feito 
            em nossa própria casa.</p>
        </div>
        <div id="valores">
            <img src="/images/valores.png" alt="Imagem ilustração Valores" />
            <h1>Valores</h1>
            <p>Acreditamos que servir um doce é um ato de carinho. Este 
            gesto se torna completo através dos nossos pilares:</p>
            <ul id="valores">
            <li>Afeto: O carinho é nosso principal ingrediente. Ele 
                está presente no sorriso de quem atende, na embalagem e 
                no sabor de cada produto que sai da nossa cozinha.
            </li>
            <li>
                Qualidade: Selecionamos os melhores ingredientes e 
                preparamos tudo com o máximo cuidado, garantindo um 
                sabor fresco, autêntico e inesquecível.
            </li>
            <li>
                Acolhimento: Queremos que todos se sintam em casa. Nossa 
                maior alegria é receber nossos clientes com hospitalidade, 
                respeito e um ambiente aconchegante.
            </li>
            <li>
                Família: Valorizamos nossa equipe, parceiros e 
                fornecedores como parte da nossa grande família. 
                Acreditamos que a união e o respeito entre todos é o que
                garante a excelência do que oferecemos.
            </li>
            </ul>
        </div>
    </div>

<footer>
    <div id="esquerda">
        <img src="/images/Family-redimensionado-para-100x100.jpeg" alt="Logo" />
        <button>Facebook</button>
        <button>Instagram</button>
        <button>Whatsapp</button>
    </div>

    <div id="meio">
        <h1>Fale conosco</h1>
        <p>vendasfamilydonuts@gmail.com</p>
        <h1>Pedidos/Encomendas/Delivery</h1>
        <p>11 95645-5674</p>
    </div>

    <div id="direita">
        <h1>Funcionamento da Fábrica</h1>
        <p>Segunda a Quinta das 07:00 às 17:00</p>
        <p>Sexta-feira das 07:00 às 16:00</p>
        <h1>Doces do Tio Caio</h1>
        <p>Novo fabricante oficial da marca <br />FamilyDonuts</p>
    </div>

    <div id="baixo">
        <p>&copy; Family Donuts | Todos os direitos reservados | Desenvolvido por Gustavo Oliveira e Guilherme Freitas</p>
    </div>
</footer>